<!DOCTYPE html>

<html lang="en">
<head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-102887794-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments)};
        gtag('js', new Date());
    
        gtag('config', 'UA-102887794-1');
    </script>
    
    <meta charset="UTF-8">
    <title>About | Kaspars Andžāns "FinalTriumph"</title>
    <link rel="stylesheet" href="/public/css/Style.css">
    <link rel="stylesheet" href="/public/css/About.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&amp;subset=latin-ext" rel="stylesheet">
</head>

<body>
<div id="content_wrapper" style="display: none;">
    
    <div id="header">
        <a href="/" class="h_nav_an">Home</a>
        <a href="/about" class="h_nav_an" id="h_act_an">About</a>
        <a href="/portfolio" class="h_nav_an">Portfolio</a>
        <a href="/contact" class="h_nav_an">Contact</a>
    </div>
    
    <div id="top_layer_1_bg_img">
        <div id="top_layer_2_bg">
            <div id="top_layer_3_content">
                <h3 id="top_h">My name is <span class="gold_c">Kaspars Andžāns</span>. I'm <span class="gold_c">28</span> years old, from <span class="gold_c">Latvia</span>.</h3>
                <br />
                <img src="/public/img/photo_170x170.jpg" alr="Photo" id="about_photo" />
                <div id="about_text">
                    <p>After finishing school in 2010, I have tried myself in different professional areas, and my goal has always been to find something that I could really enjoy doing and to become good at it.</p>
                    <p>At some point, when everything else had not gone as expected, I realized that, given my skill set, web development was the only option left that made sense for me to focus on. And from the moment I started to learn coding, I am sure that it is exactly what I was looking for. That's why I chose pseudonym "FinalTriumph".</p>
                    <p>Now I'm still learning and looking for opportunities, where I could put my already acquired skills to work and to keep learning.</p>
                    <p>And, besides everything else, for almost 10 years I have deep interest about how the universe works, what exactly is universe, how human brain works, how human body functions, what is consciousness, why are we here, where exactly is here, what it's all about, and other topics of this kind, from all possible perspectives.</p>
                </div>
                
                <div id="bouncing">
                    <button id="top_about_arrow">&#10093;</button>
                </div>
            </div>
        </div>
    </div>
    
    <div id="middle_layer_1_bg">
        <div id="middle_layer_2_content">
            <h3 id="middle_quote">"Nothing is a waste of time if you use the experience wisely."</h3>
            <p id="quote_author">- Auguste Rodin</p>
        </div>
    </div>
    
    <div id="timeline_layer_1_bg_img">
        <div id="timeline_layer_2_bg">
            <div id="timeline_layer_3_content">
                <div id="events">
                    <h3 id="tml_c_h3"><span class="gold_c">Timeline</span> with brief descriptions of what I have been doing <span class="gold_c">from 2010</span>.</h3>
                    <br />
                    <button class="tmln_contr_btn sw_tmln_dir">Switch Timeline Direction</button>
                    <button class="tmln_contr_btn exp_all">Expand All</button>
                    <button class="tmln_contr_btn cl_all" disabled>Close All</button>
                    <div id="events_desc"></div>
                    <div id="events_asc"></div>
                    <button class="tmln_contr_btn tmln_contr_btn_btm sw_tmln_dir">Switch Timeline Direction</button>
                    <button class="tmln_contr_btn tmln_contr_btn_btm exp_all" id="btm_exp_all">Expand All</button>
                    <button class="tmln_contr_btn tmln_contr_btn_btm cl_all" disabled>Close All</button>
                </div>
            </div>
        </div>
    </div>
    
    <div id="footer">
        <div id="footer_content">
            <div id="f_nav_links">
                <a href="/" class="f_nav_an">Home</a>
                <a href="/about" class="f_nav_an" id="f_act_an">About</a>
                <a href="/portfolio" class="f_nav_an">Portfolio</a>
                <a href="/contact" class="f_nav_an">Contact</a>
            </div>
            <div id="footer_left">
                <p id="foot_p"><span id="f_year">2017</span> <span id="f_yft_sep">|</span> FinalTriumph</p>
            </div>
            <div id="footer_right">
                <a href="https://github.com/FinalTriumph" class="f_soc_med" target="_blank"><img src="/public/img/soc/github.png" alt="GitHub" class="f_soc_img" /></a>
                <a href="https://codepen.io/FinalTriumph/#" class="f_soc_med" target="_blank"><img src="/public/img/soc/codepen.png" alt="CodePen" class="f_soc_img" /></a>
                <a href="https://twitter.com/FinalTriumph_" class="f_soc_med" target="_blank"><img src="/public/img/soc/twitter.png" alt="Twitter" class="f_soc_img" /></a>
                <a href="https://www.facebook.com/kaspars.andzans" class="f_soc_med" target="_blank"><img src="/public/img/soc/facebook.png" alt="Facebook" class="f_soc_img" /></a>
            </div>
        </div>
    </div>
    
    <div id="btt_btn">&#10092;</div>
    
</div>
    
<div id="loading_div">
    <div id="loading_wrapper">
        <p id="loading_p">Loading ... <span id="l_p">0</span>%</p>
        <div id="loading_border">
            <div id="loading"></div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script type="text/javascript" src="/public/js/ImagesLoaded.js"></script>
<script type="text/javascript" src="/public/js/About.js"></script>

</body>
</html>