<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About | Kaspars Andžāns "FinalTriumph"</title>
    <link rel="stylesheet" href="/public/css/About.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&amp;subset=latin-ext" rel="stylesheet">
</head>

<body>
    <div id="header">
        <a href="/" class="h_nav_an">Home</a>
        <a href="/about" class="h_nav_an" id="h_act_an">About</a>
        <a href="/portfolio" class="h_nav_an">Portfolio</a>
        <a href="/contact" class="h_nav_an">Contact</a>
    </div>
    
    <div id="top_layer_1_bg_img">
        <div id="top_layer_2_bg">
            <div id="top_layer_3_content">
                <h3 id="top_h">My name is <span class="gold_c">Kaspars Andžāns</span>. I'm <span class="gold_c">28</span> years old, from <span class="gold_c">Latvia</span>.</h3>
                <br />
                <img src="/public/img/photo_140x140.jpg" alr="Photo" id="about_photo" />
                <div id="about_text">
                    <p>After finishing school in 2010, I have tried myself in different professional areas, and my <span class="gold_c">goal</span> has always been to find something that I could really <span class="gold_c">enjoy</span> doing and to <span class="gold_c">become good</span> at it.</p>
                    <p>At some point, when everything else had not gone as expected, I realized that, given my <span class="gold_c">skill set</span>, web development was the only option left that made sense for me to <span class="gold_c">focus</span> on. And since I joined <a href="https://www.freecodecamp.org/" target="_blank">Free Code Camp</a>, on October 10, 2016, and started to learn <span class="gold_c">coding</span>, I am sure that it is exactly what I was looking for. That's why I chose pseudonym "<span class="gold_c">FinalTriumph</span>".</p>
                    <p>Now I'm still <span class="gold_c">learning</span>, having <span class="gold_c">fun</span> with some practice projects and looking for <span class="gold_c">opportunities</span>, where I could put my already <span class="gold_c">acquired skills</span> to <span class="gold_c">work</span> and to <span class="gold_c">keep learning</span>.</p>
                    <p>And, besides everything else, for almost <span class="gold_c">10 years</span> I have <span class="gold_c">deep interest</span> about how <span class="gold_c">the universe</span> works, what exactly is <span class="gold_c">universe</span>, how <span class="gold_c">human brain</span> works, how <span class="gold_c">human body</span> functions, what is <span class="gold_c">consciousness</span>, why are <span class="gold_c">we</span> here, where exactly is <span class="gold_c">here</span>, what <span class="gold_c">it's all about</span>, and other topics of this kind, from <span class="gold_c">all possible perspectives</span>.</p>
                </div>
                
                <div id="bouncing">
                    <button id="top_about_arrow">&#10093;</button>
                </div>
            </div>
        </div>
    </div>
    
    <div id="middle_layer_1_bg">
        <div id="middle_layer_2_content">
            <h3 id="middle_quote">"Nothing is a waste of time if you use the experience wisely."</h3>
            <p id="quote_author">- Auguste Rodin</p>
        </div>
    </div>
    
    <div id="timeline_layer_1_bg_img">
        <div id="timeline_layer_2_bg">
            <div id="timeline_layer_3_content">
                <div id="events">
                    <h3 id="tml_c_h3"><span class="gold_c">Timeline</span> with brief descriptions of what I have been doing <span class="gold_c">from 2010</span>.</h3>
                    <br />
                    <button class="tmln_contr_btn sw_tmln_dir">Switch Timeline Direction</button>
                    <button class="tmln_contr_btn exp_all">Expand All</button>
                    <button class="tmln_contr_btn cl_all" disabled>Close All</button>
                    <div id="events_desc"></div>
                    <div id="events_asc"></div>
                    <button class="tmln_contr_btn tmln_contr_btn_btm sw_tmln_dir">Switch Timeline Direction</button>
                    <button class="tmln_contr_btn tmln_contr_btn_btm exp_all" id="btm_exp_all">Expand All</button>
                    <button class="tmln_contr_btn tmln_contr_btn_btm cl_all" disabled>Close All</button>
                </div>
            </div>
        </div>
    </div>
    
    <div id="footer">
        <p>This will be footer</p>
    </div>
    
    
    <div id="btt_btn">&#10092;</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script type="text/javascript" src="/public/js/About.js"></script>

</body>
</html>