<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About | Kaspars Andžāns "FinalTriumph"</title>
    <link rel="stylesheet" href="/public/css/About.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Prosto+One&amp;subset=latin-ext" rel="stylesheet" />
</head>

<body>
    <div id="head">
        <div id="h_left">
            <a href="/">
                <img src="/public/img/logo_45x45.png" alt="FT Logo" class="left_inl" />
                <h1 class="left_inl">FinalTriumph</h1>
            </a>
        </div>
        <div id="h_right">
            <a href="/about" class="h_an" id="h_act_an">About</a>
            <a href="/portfolio" class="h_an">Portfolio</a>
            <a href="/contact" class="h_an">Contact</a>
        </div>
    </div>
    
    
    <div id="top_content">
        <img src="/public/img/photo_140x140.jpg" alr="Photo" id="about_photo" />
        <div id="about_top_text">
            <h3 id="h3_top">My name is Kaspars Andžāns.</h3>
            <h3>I'm 28 years old, from Latvia.</h3>
        </div>
        
        <div id="about_long_text">
            <p>After finishing school in 2010, I have tried myself in different professional areas, and my goal has always been to find something that I could really enjoy doing and to become good at it.</p>
            <p>At some point, when everything else had not gone as expected, I realized that, given my skill set, web development was the only option left that made sense for me to focus on. And since I joined <a href="https://www.freecodecamp.org/" target="_blank">Free Code Camp</a>, on October 10, 2016, and started to learn coding, I am sure that it is exactly what I was looking for. That's why I chose pseudonym "FinalTriumph".</p>
            <p>Now I'm still learning, having fun with some practice projects and looking for opportunities, where I could put my already acquired skills to work and to keep learning.</p>
            <p>And, besides everything else, for almost 10 years I have deep interest about how the universe works, what exactly is universe, how human brain works, how human body functions, what is consciousness, why are we here, where exactly is here, what it's all about, and other topics of this kind, from all possible perspectives.</p>
        </div>
        
        <button id="top_about_arrow">&#10093;</button>
    </div>
    
    <div id="timeline_bg">
        <div id="timeline_content">
            <h3 id="tml_c_h3">Timeline with brief descriptions of what I have been doing from 2010</h3>
            
            <div id="events">
                <button class="tmln_contr_btn sw_tmln_dir">Switch Timeline Direction</button>
                <button class="tmln_contr_btn exp_all">Expand All</button>
                <button class="tmln_contr_btn cl_all" disabled>Close All</button>
                <div id="events_desc"></div>
                <div id="events_asc"></div>
                <button class="tmln_contr_btn sw_tmln_dir">Switch Timeline Direction</button>
                <button class="tmln_contr_btn exp_all" id="btm_exp_all">Expand All</button>
                <button class="tmln_contr_btn cl_all" disabled>Close All</button>
            </div>
        </div>
        <div id="footer">
            <p>This will be footer</p>
        </div>
    </div>
    
    
    <div id="btt_btn">&#10092;</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script type="text/javascript" src="/public/js/About.js"></script>

</body>
</html>