<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin | Login | Kaspars Andžāns "FinalTriumph"</title>
    <link rel="stylesheet" href="/public/css/Admin.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>

<body>
    <div id="login">
        <form action="/admin/login" method="POST" id="login_form">
            <p id="login_h">Login as Administrator</p>
            <input type="text" name="username" placeholder="Username ..." required />
            <input type="password" name="password" placeholder="Password ..." required />
            <input type="submit" value="Login" class="inp_btn" />
        </form>
    </div>
</body>
</html>