<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact | Kaspars Andžāns "FinalTriumph"</title>
    <link rel="stylesheet" href="/public/css/Contact.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&amp;subset=latin-ext" rel="stylesheet">
</head>

<body>
<div id="content_wrapper">
    
    <div id="head">
        <a href="/" class="h_nav_an">Home</a>
        <a href="/about" class="h_nav_an">About</a>
        <a href="/portfolio" class="h_nav_an">Portfolio</a>
        <a href="/contact" class="h_nav_an" id="h_act_an">Contact</a>
    </div>
    
    <div id="top_layer_1_bg_img">
        <div id="top_layer_2_bg">
            <div id="top_layer_3_content">
                <h3 id="top_h">Send a <span class="gold_c">Message</span></h3>
                <form id="message_form">
                    <p class="sm_p">Name:</p>
                    <input type="text" name="name" placeholder="Name ..." class="sm_inp" required />
                    <p class="sm_p">Email:</p>
                    <input type="email" name="email" placeholder="Email ..." class="sm_inp" required />
                    <p class="sm_p">Subject:</p>
                    <input type="text" name="subject" placeholder="Subject ..." class="sm_inp" required />
                    <p class="sm_p">Mesage:</p>
                    <textarea name="message" id="sm_txt" placeholder="Message ..." class="sm_inp" required ></textarea>
                    <input type="submit" value="Send" id="send_m" />
                    <p id="sending_m">Sending ...</p>
                </form>
            </div>
            
            <br />
            
            <div id="social_network">
                <a href="https://twitter.com/FinalTriumph_" class="cont_soc_med" target="_blank"><img src="/public/img/soc/twitter_d.png" alt="Twitter" class="cont_soc_img" />/FinalTriumph_</a>
                <a href="https://www.facebook.com/kaspars.andzans" class="cont_soc_med" target="_blank"><img src="/public/img/soc/facebook_d.png" alt="Facebook" class="cont_soc_img" />/kaspars.andzans</a>
                <a href="https://github.com/FinalTriumph" class="cont_soc_med" target="_blank"><img src="/public/img/soc/github_d.png" alt="GitHub" class="cont_soc_img" />/FinalTriumph</a>
                <a href="https://codepen.io/FinalTriumph/#" class="cont_soc_med" target="_blank"><img src="/public/img/soc/codepen_d.png" alt="CodePen" class="cont_soc_img" />/FinalTriumph</a>
            </div>
        </div>
    </div>
    
    <div id="footer">
        <div id="footer_content">
            <div id="f_nav_links">
                <a href="/" class="f_nav_an">Home</a>
                <a href="/about" class="f_nav_an">About</a>
                <a href="/portfolio" class="f_nav_an">Portfolio</a>
                <a href="/contact" class="f_nav_an" id="f_act_an">Contact</a>
            </div>
            <div id="footer_left">
                <p id="foot_p"><span id="f_year">2017</span> <span id="f_yft_sep">|</span> FinalTriumph</p>
            </div>
            <div id="footer_right">
                <a href="https://github.com/FinalTriumph" class="f_soc_med" target="_blank"><img src="/public/img/soc/github.png" alt="GitHub" class="f_soc_img" /></a>
                <a href="https://codepen.io/FinalTriumph/#" class="f_soc_med" target="_blank"><img src="/public/img/soc/codepen.png" alt="CodePen" class="f_soc_img" /></a>
                <a href="https://twitter.com/FinalTriumph_" class="f_soc_med" target="_blank"><img src="/public/img/soc/twitter.png" alt="Twitter" class="f_soc_img" /></a>
                <a href="https://www.facebook.com/kaspars.andzans" class="f_soc_med" target="_blank"><img src="/public/img/soc/facebook.png" alt="Facebook" class="f_soc_img" /></a>
            </div>
        </div>
    </div>
    
    <div id="popup_bg">
        <div id="popup_content">
            <h3 id="popup_h3">Your message has been <span class="gold_c">successfully sent</span>.</h3>
            <button id="popup_ok">OK</button>
        </div>
    </div>
    
</div>

<div id="loading_div">
    <div id="loading_wrapper">
        <p id="loading_p">Loading: <span id="l_p">0</span>%</p>
        <div id="loading_border">
            <div id="loading"></div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script type="text/javascript" src="/public/js/ImagesLoaded.js"></script>
<script type="text/javascript" src="/public/js/Contact.js"></script>

</body>
</html>