<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio | Kaspars Andžāns "FinalTriumph"</title>
    <link rel="stylesheet" href="/public/css/Portfolio.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Prosto+One&amp;subset=latin-ext" rel="stylesheet" />
</head>

<body>
    <div id="head">
        <div id="h_left">
            <a href="/">
                <img src="/public/img/logo_45x45.png" alt="FT Logo" class="left_inl" />
                <h1 class="left_inl">FinalTriumph</h1>
            </a>
        </div>
        <div id="h_right">
            <a href="/about" class="h_an">About</a>
            <a href="/portfolio" class="h_an" id="h_act_an">Portfolio</a>
            <a href="/contact" class="h_an">Contact</a>
        </div>
    </div>
    
    
    <div id="top_content">
        <img src="/public/img/ss/control.png" alt="Control" class="ss_img" id="ss_controll"/>
        <img src="/public/img/ss/lb.png" alt="Laravel Blog" class="ss_img ss_img_1" />
        <img src="/public/img/ss/mr.png" alt="Movie Reviews" class="ss_img ss_img_2 ss_selected" />
        <img src="/public/img/ss/ni.png" alt="Notes App" class="ss_img ss_img_3" />
        <button class="ss_lr_btn" id="ss_left" onclick="prevImg()">&#10092;</button>
        <button class="ss_lr_btn" id="ss_right" onclick="nextImg()">&#10093;</button>
        <div id="slider_controls">
            <span class="slide_s slide_s_1" onclick="showImg(1)"></span>
            <span class="slide_s slide_s_2 slide_s_selected" onclick="showImg(2)"></span>
            <span class="slide_s slide_s_3 " onclick="showImg(3)"></span>
        </div>
    </div>
    
    <div id="portfolio_bg">
        <div id="portfolio_content">
            
            <div class="pr_anounc">
                <h3 class="pr_anounc_h3">Newest Projects</h3>
                <p class="pr_anounc_p">Created with main focus on PHP / MySQL / Laravel.</p>
            </div>
            
            <div class="projects" id="new_projects"></div>
            
            <div class="pr_anounc">
                <h3 class="pr_anounc_h3">Front End Projects for Free Code Camp</h3>
                <p class="pr_anounc_p">Created with main focus on HTML / CSS / JavaScript / jQuery.</p>
            </div>
            
            <div class="projects" id="fccfe_projects"></div>
            
            <div class="pr_anounc">
                <h3 class="pr_anounc_h3">Data Visualization Projects for Free Code Camp</h3>
                <p class="pr_anounc_p">Created with main focus on D3.js / React.js.</p>
            </div>
            
            <div class="projects" id="fccdv_projects"></div>
            
            <div class="pr_anounc">
                <h3 class="pr_anounc_h3">Back End Projects for Free Code Camp</h3>
                <p class="pr_anounc_p">Created with main focus on Node.js / Express / MongoDB / Mongoose.</p>
            </div>
            
            <div class="projects" id="fccbe_projects"></div>
            
        </div>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script type="text/javascript" src="/public/js/Portfolio.js"></script>

</body>
</html>