<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio | Kaspars Andžāns "FinalTriumph"</title>
    <link rel="stylesheet" href="/public/css/Portfolio.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Prosto+One&amp;subset=latin-ext" rel="stylesheet" />
</head>

<body>
    <div id="head">
        <div id="h_left">
            <a href="/">
                <img src="/public/img/logo_55x55.png" alt="FT Logo" class="left_inl" />
                <h1 class="left_inl">FinalTriumph</h1>
            </a>
        </div>
        <div id="h_right">
            <a href="/about" class="h_an">About</a>
            <a href="/portfolio" class="h_an" id="h_act_an">Portfolio</a>
            <a href="/contact" class="h_an">Contact</a>
        </div>
    </div>
    
    
    <h1>This is "Portfolio" route.</h1>

</body>
</html>