<!DOCTYPE html>

<html lang="en">
<head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-102887794-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments)};
        gtag('js', new Date());
    
        gtag('config', 'UA-102887794-1');
    </script>
    
    <meta charset="UTF-8">
    <title>Loading ... | FinalTriumph | Web Developer</title>
    <meta name ="description" content="Project made by web developer FinalTriumph.">
    <link rel="icon" href="/public/img/logo_100x100.png" />
    <link rel="stylesheet" href="/public/css/Style.css">
    <link rel="stylesheet" href="/public/css/Project.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&amp;subset=latin-ext" rel="stylesheet">
</head>

<body>
<div id="content_wrapper" style="display: none;">

    <div id="header">
        <a href="/" class="h_nav_an">Home</a>
        <a href="/about" class="h_nav_an">About</a>
        <a href="/portfolio" class="h_nav_an">Portfolio</a>
        <a href="/contact" class="h_nav_an">Contact</a>
    </div>
    
    
    <div id="top_layer_1_bg_img">
        <div id="top_layer_2_bg">
            <div id="top_layer_3_content">
                <div id="single_project"></div>
            </div>
        </div>
    </div>
    
    <div id="middle_layer_1_bg">
        <div id="middle_layer_2_content">
            <h3 id="middle_quote">"In theory, theory and practice are the same. In practice, they’re not."</h3>
            <p id="quote_author">- Yogi Berra</p>
        </div>
    </div>
    
    <div id="other_layer_1_bg_img">
        <div id="other_layer_2_bg">
            <div id="other_layer_3_content">
                <div class="pr_anounc">
                    <h3 class="pr_anounc_h3">Other Projects ...
                        <br/>
                        <span class="pr_anounc_p">Created with main focus on ...</span>
                    </h3>
                </div>
                <div class="projects" id="other_projects"></div>
            </div>
        </div>
    </div>
    
    <div id="footer">
        <div id="footer_content">
            <div id="f_nav_links">
                <a href="/" class="f_nav_an">Home</a>
                <a href="/about" class="f_nav_an">About</a>
                <a href="/portfolio" class="f_nav_an">Portfolio</a>
                <a href="/contact" class="f_nav_an">Contact</a>
            </div>
            <div id="footer_left">
                <p id="foot_p"><span id="f_year">2017</span> <span id="f_yft_sep">|</span> FinalTriumph</p>
            </div>
            <div id="footer_right">
                <a href="https://github.com/FinalTriumph" class="f_soc_med" target="_blank"><img src="/public/img/soc/github.png" alt="GitHub" class="f_soc_img" /></a>
                <a href="https://codepen.io/FinalTriumph/#" class="f_soc_med" target="_blank"><img src="/public/img/soc/codepen.png" alt="CodePen" class="f_soc_img" /></a>
                <a href="https://twitter.com/FinalTriumph_" class="f_soc_med" target="_blank"><img src="/public/img/soc/twitter.png" alt="Twitter" class="f_soc_img" /></a>
                <a href="https://www.facebook.com/kaspars.andzans" class="f_soc_med" target="_blank"><img src="/public/img/soc/facebook.png" alt="Facebook" class="f_soc_img" /></a>
            </div>
        </div>
    </div>
    
    <div id="btt_btn">&#10092;</div>
    
</div>

<div id="loading_div">
    <div id="loading_wrapper">
        <p id="loading_p">Loading ... <span id="l_p">0</span>%</p>
        <div id="loading_border">
            <div id="loading"></div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/public/js/ImagesLoaded.js"></script>
<script type="text/javascript" src="/public/js/Project.js"></script>

</body>
</html>