<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Loading ... | Kaspars Andžāns "FinalTriumph"</title>
    <link rel="stylesheet" href="/public/css/Project.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Prosto+One&amp;subset=latin-ext" rel="stylesheet" />
</head>

<body>
    <div id="head">
        <div id="h_left">
            <a href="/">
                <img src="/public/img/logo_45x45.png" alt="FT Logo" class="left_inl" />
                <h1 class="left_inl">FinalTriumph</h1>
            </a>
        </div>
        <div id="h_right">
            <a href="/about" class="h_an">About</a>
            <a href="/portfolio" class="h_an">Portfolio</a>
            <a href="/contact" class="h_an">Contact</a>
        </div>
    </div>
    
    <div id="top_content">
        <div id="single_project"></div>
    </div>
    
    <div id="other_content_bg">
        <div id="other_content">
            
            <div class="pr_anounc">
                <h3 class="pr_anounc_h3">Other Projects ...</h3>
                <p class="pr_anounc_p">Created with main focus on ...</p>
            </div>
            
            <div id="other_projects"></div>
        </div>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script type="text/javascript" src="/public/js/Project.js"></script>

</body>
</html>