<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kaspars Andžāns "FinalTriumph"</title>
    <link rel="stylesheet" href="/public/css/Welcome.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Prosto+One&amp;subset=latin-ext" rel="stylesheet" />
</head>

<body>
    
    <div id="left">
        <div id="left_text">
            <div id="actual_text">
                <img src="/public/img/logo_white_115x115.png" alt="FT Logo" />
                <h1>Kaspars Andžāns "FinalTriumph"</h1>
                <p>Thinker <p1>|</p1> Philosopher <p1>|</p1> Analyst <p1>|</p1> <span>Full Stack Web Developer</span></p>
            </div>
        </div>
    </div>
    
    <div id="right">
        <div id="nav_links">
            <a href="/about">About</a>
            <a href="/portfolio">Portfolio</a>
            <a href="/contact">Contact</a>
        </div>
    </div>
    
    <div id="triangle-bottomright"></div>

</body>
</html>