<!DOCTYPE html>

<html lang="en">
<head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-102887794-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments)};
        gtag('js', new Date());
    
        gtag('config', 'UA-102887794-1');
    </script>
    
    <meta charset="UTF-8">
    <title>Kaspars Andžāns "FinalTriumph"</title>
    <link rel="stylesheet" href="/public/css/Welcome.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&amp;subset=latin-ext" rel="stylesheet">
</head>

<body>
<div id="content_wrapper" style="display: none;">    
    <div id="content">
        <div id="titles_wrapper">
            <div id="top_titles">
                <h1 class="title">Kaspars Andžāns<span class="top_sep">|</span><span id="h1_ft">FinalTriumph</span></h1><br />
                <h4 class="title">Thinker<span class="h_sep">|</span>Philosopher<span class="h_sep">|</span> Analyst</h4><br />
                <h2 class="title title_h2">Full Stack Web Developer</h2>
            </div>
        </div>
    
        <div id="bottom">
            <a href="/about" class="nav_an">About</a>
            <a href="/portfolio" class="nav_an">Portfolio</a>
            <a href="/contact" class="nav_an">Contact</a>
        </div>
    </div>
</div>

<div id="loading_div">
    <div id="loading_wrapper">
        <p id="loading_p">Loading ... <span id="l_p">0</span>%</p>
        <div id="loading_border">
            <div id="loading"></div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script type="text/javascript" src="/public/js/ImagesLoaded.js"></script>
<script type="text/javascript" src="/public/js/Welcome.js"></script>

</body>
</html>