body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-image: url('/public/img/ab.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
a {
    color: #444;
    text-decoration: none;
}
a:focus, 
button:focus {
    outline: none;
}
h1 {
    margin-top: 0.7em;
    color: #222;
    text-shadow: 0px 1px 1px #fff;
}
#head {
    background-color: #eee;
    background-color: rgba(255, 255, 255, 0.95);
}
#h_left,
#h_right {
    display: inline-block;
}
#h_left {
    opacity: 0.9;
    transition: all 0.3s ease;
}
#h_left:hover {
    opacity: 1;
}
#h_left img {
    margin: 0.9em 0.5em 0.9em 2.5em;
    transition: all 0.3s ease;
}
#h_left:hover img{
    margin-right: 1em;
}
.left_inl {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Prosto One', cursive;
    font-weight: normal;
    font-size: 1.2em;
}
#h_right {
    float: right;
    margin: 1.5em 3.5em 1em 1em;
}
.h_an {
    border-bottom: 1px solid #fff;
    transition: all 0.3s ease;
    padding: 0 0.2em;
    padding-bottom: 0.2em;
    margin: 0em 1.2em;
    font-size: 0.9em;
    text-shadow: 0px 1px 1px #fff;
    -webkit-box-shadow: 0px 3px 4px -4px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 3px 4px -4px rgba(0,0,0,0.3);
    box-shadow: 0px 3px 4px -4px rgba(0,0,0,0.3);
}
#h_act_an {
    border-color: #777;
    color: #000;
}
.h_an:hover {
    border-color: #777;
    color: #000;
    padding-bottom: 0.4em;
}
/*///////*/
#top_content {
    text-align: center;
    background-color: #eee;
    background-color: rgba(255, 255, 255, 0.95);
    text-shadow: 0px 1px 1px #fff;
    padding: 2.5em 0;
    padding-top: 2.2em;
}
#about_photo {
    border-radius: 50%;
    border: 5px solid #fff;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
    margin-right: 2em;
}
#about_top_text {
    text-align: left;
}
#about_photo,
#about_top_text {
    display: inline-block;
    vertical-align: middle;
}
h3 {
    font-weight: normal;
    margin: 0;
    padding: 0.5em 3em 0.5em 0.5em;
    font-size: 1em;
}
#h3_top {
    border-bottom: 1px solid #fff;
    -webkit-box-shadow: 0px 3px 4px -4px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 3px 4px -4px rgba(0,0,0,0.1);
    box-shadow: 0px 3px 4px -4px rgba(0,0,0,0.1);
}
#about_long_text {
    max-width: 900px;
    padding: 1.5em;
    padding-bottom: 0em;
    margin: auto;
    text-align: justify;
    text-indent: 2em;
    font-size: 0.9em;
}
#about_long_text a {
    color: #000;
    border-bottom: 1px solid #ddd;
}
#about_long_text a:hover {
    color: #777;
}
#top_about_arrow {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    background-color: #eee;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 3.5em;
    cursor: pointer;
    color: #fff;
    text-shadow: 1px 0px 2px #444;
    transition: all 0.3s ease;
}
#top_about_arrow:hover {
    text-shadow: 2px 0px 3px #444;
}
/**/
#timeline_bg {
    background-image: url('/public/img/ab2.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
#timeline_content {
    background-color: #eee;
    background-color: rgba(20, 20, 20, 0.6);
    text-shadow: 0px 1px 1px #fff;
    padding: 3em 2em;
    text-align: left;
}
#tml_c_h3 {
    max-width: 900px;
    padding: 0;
    margin: 1.5em auto 0.5em auto;
    color: #fff;
    text-shadow: 0px 1px 3px #000;
}
.tmln_contr_btn {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    color: #fff;
    text-shadow: 0px 1px 2px #000;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    margin-right: 2em;
    transition: color 0.3s ease;
}
.tmln_contr_btn:hover {
    text-decoration: underline;
}
.tmln_contr_btn[disabled] {
    cursor: default;
    color: #777;
    pointer-events: none;
}
#events {
    max-width: 890px;
    padding: 0 30px;
    margin: 2em auto;
    border-left: 1px solid #fff;
}
#events_asc {
    display: none;
}
.event_div {
    margin: 1.5em 0em;
    border: 1px solid #666;
    transition: border-color 0.3s ease;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
}
.event_h_p {
    background-color: #4b4646;
    background-color: rgba(73, 70, 70, 0.95);
    padding: 1.2em 2.5em;
    margin: 0;
    font-size: 1em;
    color: #fff;
    text-shadow: 0px 1px 1px #000;
    cursor: pointer;
}
.event_d_p {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.95);
    margin: 0;
    padding: 2em;
    padding-top: 1.3em;
    font-size: 0.9em;
    text-indent: 1em;
    display: none;
}
.event_d_p a {
    color: #000;
    text-decoration: underline;
}
.event_d_p a:hover {
    color: #777;
}
.event_h_sep {
    margin: 0 0.5em;
    color: #999;
    text-shadow: none;
}
.indent {
    margin-right: 1em;
}
.about_cert_img {
    margin: 1em 2%;
    transition: box-shadow 0.3s ease;
    border: 1px solid #ddd;
}
.about_cert_img:hover {
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
}
#btt_btn {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: -0.6em 1.5em;
    cursor: pointer;
    border: 1px solid #666;
    border-radius: 2px;
    border-color: rgba(0, 0, 0, 0);
    background-color: #444;
    background-color: rgba(40, 40, 40, 0.1);
    color: #fff;
    padding: 0.3em 0.7em 0.4em 0.4em;
    font-size: 2.5em;
    text-shadow: 1px 0px 1px #000;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    transition: border-color 0.3s, background-color 0.3s, box-shadow 0.3s;
    display: none;
}
#btt_btn:hover {
    border-color: #ddd;
    background-color: #444;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}
#footer {
    margin: 0;
    padding: 2em;
    background-color: #eee;
    background-color: rgba(20, 20, 20, 0.6);
    border-top: 1px solid #fff;
}