body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #eaeaea;
    font-size: 1em;
    min-width: 1100px;
}
a:focus, 
button:focus {
    outline: none;
}
#header {
    background-color: #fafafa;
    width: 100%;
    height: 3.2em;
    padding-top: 1.3em;
    text-align: center;
}
.h_nav_an {
    color: #231f20;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 0.05em;
    font-weight: 600;
    margin: 0em 2em;
    padding-bottom: 0.1em;
    border-bottom: 2px solid #eaeaea;
    transition: all 0.3s ease;
}
.h_nav_an:hover {
    color: #8e793e;
    border-color: #ad974f;
}
#h_act_an {
    border-color: #8e793e;
}

/* Top */
#top_layer_1_bg_img {
    background-image: url('/public/img/ab.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
#top_layer_2_bg {
    background-color: #eaeaea;
    background-color: rgba(60, 60, 60, 0.7);
    margin: 0; 
    padding: 3.5em;
}
#top_layer_3_content {
    width: 95%;
    max-width: 930px;
    margin: 0em auto;
}
#top_h {
    font-family: 'Montserrat', sans-serif;
    background-color: #fafafa;
    color: #333;
    margin: 0;
    margin-bottom: 2em;
    margin-left: 2em;
    display: inline-block;
    padding: 1.2em 2.2em;
    font-weight: 500;
    font-size: 1.1em;
    letter-spacing: 0.03em;
}
.gold_c {
    color: #8e793e;
}
#about_photo,
#about_text {
    display: inline-block;
    vertical-align: top;
}
#about_photo {
    margin: 1.5em 3em 3em 0em;
    border: 5px solid #fff;
    border-bottom: 35px solid #fff;
    background-color: #fff;
    -ms-transform: rotate(-3deg); /* IE 9 */
    -webkit-transform: rotate(-3deg); /* Chrome, Safari, Opera */
}
#about_text {
    max-width: 40em;
    text-indent: 0.5em;
    font-size: 0.95em;
    text-align: justify;
}
#about_text p {
    background-color: #fff;
    color: #333;
    padding: 1.2em 1.7em;
    margin: 1em;
}
#about_text a {
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid #eaeaea;
    transition: border-color 0.3s ease;
}
#about_text a:hover {
    color: #8e793e;
    border-color: #ad974f;
}
#top_about_arrow {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 3em;
    color: #fafafa;
    cursor: pointer;
    transition: color 0.2s ease;
}
#top_about_arrow:hover {
    color: #ad974f;
}
#bouncing {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 3em;
    animation: bounce 0.7s infinite alternate;
    -webkit-animation: bounce 0.7s infinite alternate;
}
@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-5px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-5px);
  }
}

/* Middle */
#middle_layer_1_bg {
    background-color: #fafafa;
}
#middle_layer_2_content {
    max-width: 800px;
    margin: auto;
    padding: 3.5em;
}
#middle_quote {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    font-weight: 500;
    font-size: 1.1em;
    letter-spacing: 0.05em;
}
#quote_author {
    font-family: 'Montserrat', sans-serif;
    color: #8e793e;
    font-weight: 400;
    font-size: 0.95em;
    letter-spacing: 0.03em;
}

/* Bottom */
#timeline_layer_1_bg_img {
    background-image: url('/public/img/ab2.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
#timeline_layer_2_bg {
    background-color: #eaeaea;
    background-color: rgba(35, 31, 32, 0.7);
    padding: 4.5em 0;
}
#timeline_layer_3_content {
    width: 95%;
    max-width: 900px;
    margin: auto;
    border-left: 3px solid #fafafa;
    padding-left: 3em;
    color: #000;
}
#tml_c_h3 {
    font-family: 'Montserrat', sans-serif;
    background-color: #fafafa;
    color: #333;
    margin: 0;
    margin-bottom: 2em;
    display: inline-block;
    padding: 1.2em 2.2em;
    font-weight: 500;
    font-size: 1.1em;
    letter-spacing: 0.03em;
}
.tmln_contr_btn {
    font-family: 'Montserrat', sans-serif;
    background-color: #231f20;
    color: #fff;
    display: inline-block;
    padding: 0.8em 2em;
    margin: 1em 1.5em 1em 0em;
    font-weight: 400;
    font-size: 0.8em;
    letter-spacing: 0.03em;
    cursor: pointer;
    transition: all 0.2s ease;
    border: 1px solid #444;
}
.tmln_contr_btn_btm {
    margin-bottom: 0;
}
.tmln_contr_btn:hover {
    border-color: #8e793e;
    color: #ad974f;
}
.tmln_contr_btn[disabled] {
    color: #777;
    border-color: #444;
    pointer-events: none;
}
#events {
    margin-left: 2em;
}
#events_asc {
    display: none;
}
.event_div {
    background-color: #fff;
    margin: 1em 0em;
    max-width: 48em;
}
.event_h_p {
    padding: 1.6em 2.6em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1em;
    letter-spacing: 0.03em;
    cursor: pointer;
    margin: 0;
    background-color: #fafafa;
    background-color: rgba(173, 151, 79, 0.01);
    transition: all 0.2s ease;
    border-bottom: 2px solid #eaeaea;
    border-color: rgba(142, 121, 62, 0.3);
}
.event_h_t {
    display: block;
    margin-top: 0.5em;
    font-weight: 500;
    font-size: 1.05em;
    color: #231f20;
    transition: all 0.2s ease;
}
.event_h_p:hover {
    color: #8e793e;
    border-color: #ad974f;
}
.event_h_p:hover .event_h_t{
    color: #8e793e;
}
.event_d_p {
    padding: 2em;
    padding-top: 0.2em;
    font-size: 0.9em;
    text-indent: 1em;
    display: none;
}
.event_d_p a {
    color: #333;
    transition: border-color 0.3s ease;
}
.event_d_p a:hover {
    color: #8e793e;
}
.indent {
    margin-right: 1em;
}
.about_cert_img {
    margin: 1em 2%;
    transition: box-shadow 0.3s ease;
    border: 1px solid #ddd;
}
.about_cert_img:hover {
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
}

/* Footer */
#footer {
    margin: 0;
    padding: 1em 2em;
    background-color: #231f20;
    color: #eaeaea;
}
#btt_btn {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: -0.6em 1.5em;
    cursor: pointer;
    background-color: #231f20;
    color: #fff;
    padding: 0.2em 0.8em 0.3em 0.4em;
    font-size: 3em;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    transition: color 0.3s, background-color 0.3s;
    display: none;
    transition: all 0.2s ease;
    border: 1px solid #231f20;
}
#btt_btn:hover {
    background-color: #231f20;
    border-color: #8e793e;
    color: #ad974f;
}