body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #231f20;
    font-size: 1em;
    min-width: 1100px;
}
a:focus, 
button:focus {
    outline: none;
}
#content_wrapper {
    display: none;
}
#head {
    background-color: #fafafa;
    width: 100%;
    height: 3.2em;
    padding-top: 1.3em;
    text-align: center;
}
.h_nav_an {
    color: #231f20;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 0.05em;
    font-weight: 600;
    margin: 0em 2em;
    padding-bottom: 0.1em;
    border-bottom: 2px solid #eaeaea;
    transition: all 0.3s ease;
}
.h_nav_an:hover {
    color: #8e793e;
    border-color: #ad974f;
}
#h_act_an {
    border-color: #8e793e;
}

/* Top */
#top_layer_1_bg_img {
    background-image: url('/public/img/cb.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
#top_layer_2_bg {
    background-color: rgba(35, 31, 32, 0.6);
    margin: 0; 
    padding: 3.5em;
    text-align: center;
}
#top_layer_3_content {
    width: 95%;
    max-width: 800px;
    margin: 0em auto;
    text-align: left;
}
#top_h {
    font-family: 'Montserrat', sans-serif;
    background-color: #fafafa;
    color: #333;
    margin: 0;
    margin-bottom: 1em;
    margin-left: 2em;
    display: inline-block;
    padding: 1.2em 4em;
    font-weight: 500;
    font-size: 1.1em;
    letter-spacing: 0.03em;
}
.gold_c {
    color: #8e793e;
}
#message_form {
    background-color: #fafafa;
    padding: 1em 3.5em 2em 3.2em;
}
.sm_p {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    font-weight: 400;
    font-size: 0.85em;
    letter-spacing: 0.03em;
    margin: 1.5em 0em 0.7em 0.2em;
}
.sm_inp {
    width: 95%;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    padding: 0.6em 1em;
    box-shadow: none;
    outline: none;
    border: 1px solid #eaeaea;
    border-left: 2px solid #eaeaea;
    transition: border-color 0.2s ease;
}
.sm_inp:hover {
    box-shadow: none;
    border-left-color: rgba(142, 121, 62, 0.5);
}
.sm_inp:focus {
    border-color: rgba(142, 121, 62, 0.5);
}
.sm_inp[disabled] {
    background-color: rgba(142, 121, 62, 0.3);
    border-color: #fafafa;
    color: #444;
}
#sm_txt {
    height: 7em;
    resize: vertical;
}
#send_m,
#sending_m {
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    color: #333;
    display: inline-block;
    padding: 0.7em 5em;
    margin-top: 2em;
    margin-bottom: 0.5em;
    font-weight: 400;
    font-size: 0.8em;
    letter-spacing: 0.03em;
    cursor: pointer;
    transition: all 0.2s ease;
    border: 1px solid #eaeaea;
}
#sending_m {
    pointer-events: none;
    opacity: 0;
    border-color: rgba(142, 121, 62, 0.5);
    color: #ad974f;
}
#send_m:hover {
    border-color: rgba(142, 121, 62, 0.5);
    color: #ad974f;
}
#social_network {
    background-color: #fafafa;
    padding: 1.5em 2.2em 2.2em 2.2em;
    display: inline-block;
    margin: 2em auto;
}
.cont_soc_med {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    font-size: 0.9em;
    letter-spacing: 0.03em;
    margin: 0em 1em;
    text-decoration: none;
}
.cont_soc_med:hover {
    text-decoration: underline;
}
.cont_soc_img {
    margin: 0.6em 0.7em -0.6em 0em;
    opacity: 0.8;
    transition: opacity 0.2s ease;
}
.cont_soc_med:hover .cont_soc_img{
    opacity: 0.95;
}

/* Footer */
#footer {
    margin: 0;
    padding: 1.7em 3em;
    padding-bottom: 1.7em;
    background-color: #231f20;
    color: #eaeaea;
}
#footer_content {
    width: 95%;
    max-width: 1100px;
    margin: 0em auto;
}
#f_nav_links {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #444;
    padding-bottom: 2.2em;
}
#footer_left,
#footer_right {
    display: inline-block;
    vertical-align: top;
    width: 47%;
}
#footer_left {
    text-align: left;
}
#footer_right {
    text-align: right;
}
.f_nav_an {
    color: #eaeaea;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.85em;
    letter-spacing: 0.05em;
    font-weight: 600;
    margin: 0em 1.5em;
    padding-bottom: 0.1em;
    border-bottom: 2px solid #444;
    transition: all 0.2s ease;
}
.f_nav_an:hover {
    color: #ad974f;
    border-color: #8e793e;
}
#f_act_an {
    border-color: #8e793e;
}
#foot_p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 0.03em;
    font-size: 1em;
    color: #eaeaea;
    margin-top: 1.6em;
    margin-left: 3em;
}
#f_year {
    color: #777;
    font-weight: 400;
    font-size: 0.95em;
}
#f_yft_sep {
    margin: 0 0.3em;
    color: #444;
}
.f_soc_med {
    display: inline-block;
    margin-right: 1em;
    padding-top: 1.5em;
    opacity: 0.5;
    transition: opacity 0.2s ease;
    
}
.f_soc_med:hover {
    opacity: 1;
}

/**/
#popup_bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #231f20;
    background-color: rgba(35, 31, 32, 0.5);
    text-align: center;
    display: none;
}
#popup_content {
    margin: 5em auto;
    background-color: #fafafa;
    display: inline-block;
    padding: 4em 6em;
    max-width: 900px;
}
#popup_h3 {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    margin: 0;
    margin-bottom: 2em;
    font-size: 1.1em;
    font-weight: 500;
    letter-spacing: 0.03em;
}
#popup_ok {
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    color: #333;
    padding: 0.6em 4.5em;
    font-weight: 500;
    font-size: 0.9em;
    letter-spacing: 0.03em;
    cursor: pointer;
    transition: all 0.2s ease;
    border: 1px solid #ddd;
    border-color: rgba(142, 121, 62, 0.3);
}
#popup_ok:hover {
    border-color: rgba(142, 121, 62, 0.5);
    color: #ad974f;
}

/**/
#loading_div {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #231f20;
    text-align: center;
    z-index: 999;
    display: table;
    height: 100vh;
    width: 100%;
}
#loading_wrapper {
    margin: auto;
    display: table-cell;
    vertical-align: middle;
}
#loading_border {
    height: 17px;
    width: 300px;
    border: 1px solid #ddd;
    background-color: #333;
    margin: auto;
    padding: 1px;
    margin-bottom: 9em;
}
#loading {
    height: 100%;
    width: 0%;
    background-color: #eaeaea;
    transition: width 0.2s ease;
}
#loading_p {
    display: block;
    color: #eaeaea;
    font-size: 1.05em;
    letter-spacing: 0.03em;
    margin-top: 2em;
}
#l_p {
    display: inline-block;
    width: 50px;
    text-align: right;
    font-size: 1.1em;
    margin-left: 140px;
    margin-right: 0.2em;
}