/* Top */
#top_layer_1_bg_img {
    background-image: url('/public/img/pb.jpg');
}
#top_layer_2_bg {
    text-align: center;
    background-color: rgba(60, 60, 60, 0.7);
}
#top_layer_3_content {
    position: relative;
    max-width: 1300px;
    margin: auto;
}
.ss_img {
    width: 80%;
    margin: auto;
    padding-top: 1em;
    position: absolute;
    top: 0;
    left: 10%;
    opacity: 0;
    z-index: 0;
    transition: opacity 1s ease;
}
.ss_selected {
    opacity: 1;
    z-index: 10;
}
.s_img {
    width: 100%;
    max-width: 1000px;
}
.ss_h3 {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    margin: 0;
    margin-top: 2em;
    display: inline-block;
    font-weight: 500;
    font-size: 1.1em;
    letter-spacing: 0.03em;
    transition: color 0.2s ease;
}
.ss_an {
    text-decoration: none;
}
.ss_h3:hover {
    color: #ad974f;
}
#ss_controll {
    position: static;
    opacity: 1;
}
#ss_c_h3 {
    color: #eee;
    color: rgba(0, 0, 0, 0);
    opacity: 0.1;
}
#ss_left {
    position: absolute;
    top: 0;
    left: 0;
}
#ss_right {
    position: absolute;
    top: 0;
    right: 0;
}
.ss_lr_btn {
    height: 94%;
    font-size: 3em;
    border: none;
    margin:0;
    padding: 0 5%;
    cursor: pointer;
    background-color: #eee;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    transition: all 0.2s ease;
}
.ss_lr_btn:hover {
    color: #ad974f;
}
.slide_s {
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    margin: 3.5em 0.2em;
    margin-bottom: 4em;
    background-color: #eee;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}
.slide_s_selected {
    background-color: #bbb;
    background-color: rgba(255, 255, 255, 0.5);
}

/* Middle */

#middle_layer_2_content {
    padding-bottom: 3em;
}

/* Bottom */
#portfolio_layer_1_bg_img {
    background-image: url('/public/img/pb2.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
#portfolio_layer_2_bg {
    background-color: rgba(50, 50, 50, 0.7);;
    padding: 1em 0;
    padding-top: 8.5em;
    position: relative;
}
#portfolio_layer_3_content {
    width: 95%;
    max-width: 900px;
    margin: auto;
    border-left: 3px solid #fafafa;
    padding-left: 3em;
    color: #000;
}
#proj_nav {
    background-color: #231f20;
    width: 100%;
    padding: 0.7em 0;
    padding-bottom: 0.7em;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}
.proj_nav_p {
    background-color: #231f20;
    padding: 0;
    padding-bottom: 0.1em;
    color: #eaeaea;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 0.07em;
    font-weight: 600;
    margin: 1em;
    margin-left: 0;
    margin-right: 3em;
    border: none;
    border-bottom: 2px solid #231f20;
    pointer-events: none;
}
.proj_nav_btn {
    background-color: #231f20;
    padding: 0;
    padding-bottom: 0.1em;
    color: #eaeaea;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 0.07em;
    font-weight: 600;
    margin: 1em 3em;
    border: none;
    border-bottom: 2px solid #444;
    transition: all 0.2s ease;
    cursor: pointer;
}
.proj_nav_btn:hover,
.nav_hovered {
    color: #ad974f;
    border-color: #8e793e !important;
}
.pr_anounc_h3 {
    font-family: 'Montserrat', sans-serif;
    background-color: #fafafa;
    color: #333;
    margin: 0;
    display: inline-block;
    padding: 1.2em 3.2em;
    padding-right: 5em;
    font-weight: 500;
    font-size: 1.1em;
    letter-spacing: 0.03em;
}
.pr_anounc_p {
    display: block;
    margin-top: 0.5em;
    font-size: 0.8em;
    font-weight: 400;
    letter-spacing: 0.03em;
}
.pr_anounc,
.projects {
    margin-left: 2em;
}
.projects {
    margin-bottom: 5em;
}
.project_div {
    background-color: #fafafa;
    color: #333;
    margin: 2em 0;
    padding: 1em 1.5em;
}
.project_right_side {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #ddd;
}
.project_left_side {
    width: 45%;
    display: inline-block;
    vertical-align: middle;
    padding: 0 2em;
}
.proj_div_h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.05em;
    letter-spacing: 0.03em;
    padding-bottom: 1em;
    margin-top: 0;
    border-bottom: 1px solid #eaeaea;
}
.lang_icon_s {
    height: 2em;
    margin-right: 1em;
    margin-top: 0.5em;
}
.pr_div_an {
    display: inline-block;
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 0.05em;
    font-weight: 600;
    margin: 2em 3.5em 0em 0em;
    padding-bottom: 0.1em;
    border-bottom: 2px solid #eaeaea;
    transition: all 0.2s ease;
}
.pr_div_an:hover {
    color: #8e793e;
    border-color: #ad974f;
}
