body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-image: url('/public/img/pb.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}
a {
    color: #444;
    text-decoration: none;
}
a:focus, 
button:focus {
    outline: none;
}
h1 {
    margin-top: 0.7em;
    color: #222;
    text-shadow: 0px 1px 1px #fff;
}
#head {
    background-color: #eee;
    background-color: rgba(255, 255, 255, 0.9);
}
#h_left,
#h_right {
    display: inline-block;
}
#h_left {
    opacity: 0.9;
    transition: all 0.3s ease;
}
#h_left:hover {
    opacity: 1;
}
#h_left img {
    margin: 0.9em 0.5em 0.9em 2.5em;
    transition: all 0.3s ease;
}
#h_left:hover img{
    margin-right: 1em;
}
.left_inl {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Prosto One', cursive;
    font-weight: normal;
    font-size: 1.2em;
}
#h_right {
    float: right;
    margin: 1.5em 3.5em 1em 1em;
}
.h_an {
    border-bottom: 1px solid #fff;
    transition: all 0.3s ease;
    padding: 0 0.2em;
    padding-bottom: 0.2em;
    margin: 0em 1.2em;
    font-size: 0.9em;
    text-shadow: 0px 1px 1px #fff;
    -webkit-box-shadow: 0px 3px 4px -4px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 3px 4px -4px rgba(0,0,0,0.3);
    box-shadow: 0px 3px 4px -4px rgba(0,0,0,0.3);
}
#h_act_an {
    border-color: #777;
    color: #000;
}
.h_an:hover {
    border-color: #777;
    color: #000;
    padding-bottom: 0.4em;
}
/*///////*/
#top_content {
    text-align: center;
    background-color: #eee;
    background-color: rgba(255, 255, 255, 0.9);
}
#top_width_cont {
    position: relative;
    max-width: 1300px;
    margin: auto;
}
.ss_img {
    width: 80%;
    margin: auto;
    padding-top: 1em;
    position: absolute;
    top: 0;
    left: 10%;
    opacity: 0;
    transition: opacity 1s ease;
}
.ss_selected {
    opacity: 1;
}
.s_img {
    width: 100%;
    max-width: 1000px;
}
.ss_h3 {
    font-size: 1em;
    border-bottom: 1px solid #fff;
    width: 50%;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 1em;
    font-weight: normal;
    color: #222;
    text-shadow: 0px 1px 1px #fff;
    -webkit-box-shadow: 0px 3px 4px -4px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 3px 4px -4px rgba(0,0,0,0.1);
    box-shadow: 0px 3px 4px -4px rgba(0,0,0,0.1);
}
#ss_controll {
    position: static;
    opacity: 1;
}
#ss_c_h3 {
    color: #eee;
    color: rgba(0, 0, 0, 0);
    opacity: 0.1;
}
#ss_left {
    position: absolute;
    top: 0;
    left: 0;
    text-shadow: 1px 0px 2px #555;
}
#ss_left:hover {
    font-size: 3em;
    text-shadow: 0px 0px 3px #555;
}
#ss_right {
    position: absolute;
    top: 0;
    right: 0;
    text-shadow: -1px 0px 2px #555;
}
#ss_right:hover {
    font-size: 3em;
    text-shadow: -0px 0px 3px #555;
}
.ss_lr_btn {
    height: 87%;
    font-size: 2.5em;
    border: none;
    margin:0;
    padding: 0 5%;
    cursor: pointer;
    background-color: #eee;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    transition: all 0.2s ease;
}
.slide_s {
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    margin: 0.5em 0.2em;
    margin-bottom: 4em;
    background-color: #eee;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
}
.slide_s_selected {
    background-color: #bbb;
    background-color: rgba(0, 0, 0, 0.25);
}
/**/
#portfolio_bg {
    background-color: #444;
    background-image: url('/public/img/pb2.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
#portfolio_content {
    background-color: #999;
    background-color: rgba(70, 70, 70, 0.6);
    text-shadow: 0px 1px 1px #fff;
    padding: 3em 2em;
    text-align: left;
    position: relative;
}
#proj_nav {
    background-color: #999;
    background-color: rgba(50, 50, 50, 0.9);
    text-align: center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}
.proj_nav_btn {
    background-color: #999;
    background-color: rgba(0, 0, 0, 0);
    color: #eee;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    text-shadow: 0px 1px 3px #000;
    width: 24%;
    max-width: 300px;
    padding: 1.4em;
    cursor: pointer;
    transition: border-color 0.2s ease;
    -webkit-box-shadow: 0px 3px 4px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 4px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 4px -4px rgba(0,0,0,0.75);
}
.proj_nav_btn:hover,
.nav_hovered {
    color: #fff;
    border-color: #fff !important;
}
.pr_anounc {
    max-width: 900px;
    margin: 0em auto 0.5em auto;
    padding-top: 3em;
    color: #fff;
    text-shadow: 0px 1px 3px #000;
}
.pr_anounc_h3 {
    padding: 0;
    margin: 0;
    font-size: 1em;
}
.pr_anounc_p {
    font-size: 0.9em;
}
.projects {
    max-width: 950px;
    padding: 0 0px 0 30px;
    margin: 2em auto;
    margin-bottom: 3.5em;
    border-left: 1px solid #fff;
}
.project_div {
    background-color: #444;
    background-color: rgba(70, 70, 70, 0.95);
    margin: 2em 0;
    padding: 1em;
    color: #fff;
    text-shadow: 0px 1px 3px #000;
    border: 1px solid #666;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
}
.project_left_side {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #444;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
}
.project_right_side {
    width: 40%;
    display: inline-block;
    vertical-align: middle;
    padding-left: 2em;
}
.proj_div_h3 {
    font-size: 1em;
    font-weight: normal;
    padding-bottom: 1em;
    border-bottom: 1px solid #666;
}
.lang_icon_s {
    height: 2em;
    margin-right: 1em;
    margin-top: 0.5em;
}
.pr_div_an {
    background-color: #414141;
    color: #eee;
    font-size: 0.8em;
    display: inline-block;
    border: 1px solid #999;
    border-radius: 20px;
    margin-right: 1em;
    margin-top: 2em;
    padding: 0.5em 1.5em;
}
.pr_div_an:hover {
    color: #fff;
    border-color: #ddd;
}

#btt_btn {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: -0.6em 1.5em;
    cursor: pointer;
    border: 1px solid #666;
    border-radius: 2px;
    border-color: rgba(0, 0, 0, 0);
    background-color: #444;
    background-color: rgba(40, 40, 40, 0.1);
    color: #fff;
    padding: 0.3em 0.7em 0.4em 0.4em;
    font-size: 2.5em;
    text-shadow: 1px 0px 1px #000;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    transition: border-color 0.3s, background-color 0.3s, box-shadow 0.3s;
    display: none;
}
#btt_btn:hover {
    border-color: #ddd;
    background-color: #444;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}
#footer {
    margin: 0;
    padding: 2em;
    background-color: #999;
    background-color: rgba(70, 70, 70, 0.6);
    border-top: 1px solid #fff;
}