body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #8e793e;
    background-image: url('/public/img/wb.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    min-width: 850px;
}
#content {
    min-height: 100vh;
    background-color: rgba(35, 31, 32, 0.5);
    position: relative;
}
#titles_wrapper {
    display: table;
    height: 100vh;
    width: 85%;
    max-width: 1000px;
    margin: auto;
}
#top_titles {
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 10em;
}
.title {
    background-color: #fafafa;
    color: #231f20;
    display: inline-block;
    padding: 25px 55px;
    font-weight: 500;
    letter-spacing: 0.03em;
}
.top_sep {
    font-weight: 400;
    color: #eaeaea;
    margin: auto 0.7em;
}
.h_sep {
    margin: auto 1em;
    color: #eaeaea;
}
#h1_ft {
    color: #8e793e;
}
.title_h2 {
    letter-spacing: 0.05em;
    color: #8e793e;
}
#bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #fafafa;
    width: 100%;
    height: 4em;
    padding-top: 2em;
    text-align: center;
}
.nav_an {
    font-family: 'Open Sans', sans-serif;
    color: #231f20;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 0.05em;
    font-weight: 600;
    margin: 0em 2em;
    padding-bottom: 0.1em;
    border-bottom: 2px solid #eaeaea;
    transition: all 0.3s ease;
}
.nav_an:hover {
    color: #8e793e;
    border-color: #ad974f;
}

/**/
#loading_div {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #231f20;
    text-align: center;
    z-index: 999;
    display: table;
    height: 100vh;
    width: 100%;
}
#loading_wrapper {
    margin: auto;
    display: table-cell;
    vertical-align: middle;
}
#loading_border {
    height: 17px;
    width: 300px;
    border: 1px solid #ddd;
    background-color: #333;
    margin: auto;
    padding: 1px;
    margin-bottom: 9em;
}
#loading {
    height: 100%;
    width: 0%;
    background-color: #eaeaea;
    transition: width 0.2s ease;
}
#loading_p {
    display: block;
    color: #eaeaea;
    font-size: 1.05em;
    letter-spacing: 0.03em;
    margin-top: 2em;
}
#l_p {
    display: inline-block;
    width: 50px;
    text-align: right;
    font-size: 1.1em;
    margin-left: 140px;
    margin-right: 0.2em;
}